nav {
  width: 100%;
  border: 1px solid black;
  text-align: right;
  position: relative;
  height: 40px;
  background-color: #D3D3D3;
  display:  inline-block;
}


.logo {
  position: absolute;
  left: 10px;
  font-size: large;
  text-align: center;
  bottom: -10px;
}

ul {
  list-style-type: none;
  position: relative;
  bottom: 1px;
}

.nav_button {
    float:  right;
    color: purple;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
}

main {
  padding-left: 100px;
  padding-top:  25px;
}

.s_bar {
  width: 300px;
  height: 30px;
  font-size: large;
  border:2px solid lightblue;
  
}
.nav2 {
padding-top: 20px;
  
}

.listing_nav_button {
  border:  1px solid black;
  text-decoration: none;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  padding-top: 10px;
  font-size: large;
}

.back::before {
  content: "< ";
  }
.next::after {
  content: " >";
}

.results { 
  /*display: inline-block;*/
  padding-top: 50px;
  padding-left: 0px;
  color: grey;
  /*float: left;*/
  }
.result_date {
  padding-right: 10px;
}
.result_title {
  text-decoration: none;
  color:  blue;
}
.result_location {
  padding-left:  10px;
}

.m-glass {
  width: 50px;
  height: 50px;
}